body {
  margin: 0;
  font-family: Tahoma;
}
.topo{
  background-color: #afddfb;
}
.topo img{
  width: 150px;
}
.secao {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.paragrafo{
  font-size: 18px;
  width: 980px;
  margin: 10px auto;
  text-align: justify;
  line-height: 28px;
}

.paragrafo-topo{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}
.link-topo{
  color: #1d1d1d;
  font-size: 18px;
  text-decoration: none;
  margin: 0 10px;
}
.link-topo:hover{
  color: rgb(150, 93, 18);
  border-bottom: 2px solid rgb(150, 93, 18);

}
/* SEÇÃO BANNER */
.banner {
  padding-top: 0;
  margin-top: 50px;
}
/* SEÇÃO SOBRE */
.imagem {
  width:450px;
}
.texto-azul {
  color: #1d80c1;
  font-weight: bold;
}
h1 {
  color: #1d1d1d;
  margin-bottom: 5px;
}
h2{
  font-weight: normal;
  color: #1c81c0;
  margin-top: 0;
}
/* SEÇÃO SERVIÇOS */

.paragrafo-servicos {
  color: #ffffff;
  line-height: 42px;
  width: 700px;
  font-size: 22px;
  text-align: center;
}
.texto-amarelo {
  color:#fff81b;
  font-weight: bold;
}
.servicos, .contato {
    background-color: #1d80c1;
}
h3 {
  color: #ffffff;
  font-size: 28px;
  line-height: 42px;
}
.listas-servicos {
  width: 135px;
  margin: 40px auto 40px;
}

.item-servicos {
  font-size: 22px;
  line-height: 42px;
  color:#fff;
  text-align:left;
}
/* FIM SEÇÃO SERVIÇOS */


/* INÍCIO CONTATO */

.lista-contato {
  width: 210px;
  list-style: none;
  margin: 40px auto 40px;
}
.item-lista-contato {
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}
.link-contato {
  background-color: #ffffff;
  color:#1d80c1;
  padding: 2px 5px;
  border-radius: 5px;
  
}


